@{
    ViewBag.Title = "VirtualClass";
    ViewBag.PageID = "VirtualClass";
    ViewBag.PageClass = "menu_btn.highlight";
}

<h2>VirtualClass</h2>

<body id ="VirtualClass">
        <header>
            <div>
                    <nav>
                        <ul id="menu">
                            <li >@Html.ActionLink("Virtual Class", "VirtualClass", "Home")</li>
                            <li>@Html.ActionLink("Notes Sharing", "NotesSharing", "Home")</li>
                            <li>@Html.ActionLink("Messaging", "Messaging", "Home")</li>
                            <li>@Html.ActionLink("Timetable Sharing", "TimetableSharing", "Home")</li>
                            <li>@Html.ActionLink("Notifications", "Notifications", "Home")</li>
                            <li>@Html.ActionLink("Used Books", "UsedBooks", "Home")</li>
                            <li>@Html.ActionLink("Tutoring", "Tutoring", "Home")</li>                            
                        </ul>
                    </nav>
                
            </div>
        </header>
      
    </body>

