@model prj666vc.ViewModels.NoteBase

<h3>Are you sure you want to delete this Note?</h3>
<fieldset>
    <legend>NoteBase</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CourseCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContentType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContentType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostOwner)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostOwner)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "ViewMyNotes")
    </p>
}
