@model prj666vc.ViewModels.NoteFull

@{
    ViewBag.Title = "NoteEditN";
}

<h2>NoteEditN</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>NoteFull</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CourseCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CourseCode)
            @Html.ValidationMessageFor(model => model.CourseCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedDate)
            @Html.ValidationMessageFor(model => model.CreatedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContentType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContentType)
            @Html.ValidationMessageFor(model => model.ContentType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostOwner)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostOwner)
            @Html.ValidationMessageFor(model => model.PostOwner)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FileName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FileName)
            @Html.ValidationMessageFor(model => model.FileName)
        </div>
        <div class="editor-field">        
            @Html.TextBoxFor(model => model.Content, new { type = "file" })
            @Html.ValidationMessageFor(model =>model.Content)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
